MV3D/src/net/utility/__pycache__
MV3D/src/__pycache__
*.pyc
MV3D/src/net/processing/build/temp.linux-x86_64-3.5
.DS_Store
MV3D/.DS_Store
MV3D/src/.idea
MV3D/data/image_output
MV3D/data/preprocessing
MV3D/data/raw
MV3D/log
MV3D/src/.ipynb_checkpoints
MV3D/ros/.idea
MV3D/utils/ros/.idea
MV3D/utils/bag_to_kiiti/lidar/.idea
MV3D/utils/bag_to_kiiti/lidar/.vscode-upload.json
MV3D/utils/bag_to_kiiti/lidar/.vscode/c_cpp_properties.json
MV3D/utils/bag_to_kitti/lidar/.vscode/settings.json
MV3D/utils/bag_to_kitti/lidar/.idea
MV3D/utils/bag_to_kitti/lidar/.vscode
MV3D/utils/.vscode-upload.json
MV3D/utils/bag_to_kitti/lidar/cmake-build-debug
MV3D/utils/.vscode

MV3D/bag_to_kitti/lidar/.idea
.vscode-upload.json
.vscode
MV3D/.vscode-upload.json
MV3D/.vscode
MV3D/bag_to_kitti/lidar/cmake-build-debug
*.npy
*.png

\.idea/
\.project
MV3D/checkpoint
*.out

voxelnet/build
voxelnet/.DS_Store
voxelnet/save_model
voxelnet/log
voxelnet/__pycache__
voxelnet/data/calib
voxelnet/data/cropped_dataset
**/__pycache__
*.so
